* { 
  box-sizing: border-box;
}

body {
  /* vars */
  --main: #000;
  --secondary: #212121;
  --secondary-2: #616161;
  --accent: #4285F4;
  --icon-filter: invert(0);
  --bg: #fff;

  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: var(--main);
  background-color: var(--bg);

  width: 100%;
  min-height: 100vh;
  padding-top: 20px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}

body.theme-is-black {
  /* vars */
  --main: #E1E1E1;
  --secondary: #E1E1E1;
  --secondary-2: #E1E1E1;
  --accent: #4285F4;
  --icon-filter: invert(51%) sepia(100%) saturate(3488%) hue-rotate(203deg) brightness(102%) contrast(91%);
  --bg: #121212;
}

/* helper */
.h-icon-btn {
  font-size: 0;
}

.h-icon {
  filter: var(--icon-filter);
  background-repeat: no-repeat;
  background-position: center;
}

.h-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

[hidden] {
  display: none;
}

/* Таби без джс : */
#info {
  transform: translateX(-100%);
}

#assistant {
  transform: translateX(-200%);
}

#services {
  transform: translateX(-300%);
}

#home {
  transform: translateX(-400%);
}

#info-tab:checked~.tabpanels #info {
  transform: translateX(0);
}

#info-tab:checked~.tablist [for="info-tab"] {
  color: var(--accent);
  border-color: var(--accent);
}

#assistant-tab:checked~.tablist [for="assistant-tab"] {
  color: var(--accent);
  border-color: var(--accent);
}

#services-tab:checked~.tablist [for="services-tab"] {
  color: var(--accent);
  border-color: var(--accent);
}

#home-tab:checked~.tablist [for="home-tab"] {
  color: var(--accent);
  border-color: var(--accent);
}

#assistant-tab:checked~.tabpanels #assistant {
  transform: translateX(-100%);
}

#services-tab:checked~.tabpanels #services {
  transform: translateX(-200%);
}

#home-tab:checked~.tabpanels #home {
  transform: translateX(-300%);
}

/* helper end */


/* header */
.header {
  display: grid;
  grid-template-columns: 56px minmax(0, 1fr) 56px;
  grid-template-rows: auto;
  text-align: center;

  padding-bottom: 20px;

  background-color: var(--bg);
  position: relative;
}

.header_s {
  text-align: left;
}

.header__back {
  width: 56px;
  height: 56px;
}

.header__menu {
  width: 56px;
  height: 56px;
}

.header__info {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;

  position: relative;
}

.header__photo {
  position: absolute;
  left: 50%;
  top: 14px;
  transform: translateX(-50%);

  object-fit: cover;
  object-position: center;

  width: 60px;
  height: 60px;
  transition: .2s left, .2s transform, .2s width, .2s height;

  border-radius: 100%;
  overflow: hidden;
}

.header_s .header__photo {
  left: 0;
  top: 9px;
  transform: translateX(0);
  width: 36px;
  height: 36px;
}

.header__wrp {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 86px;

  transition: .2s padding;
}

.header_s .header__wrp {
  width: calc(100% - 44px);
  margin-left: auto;
  padding-top: 0;
}

.header__name {
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.1px;

  margin-top: 12px;

  transition: .3s font-size;
}

.header_s .header__name {
  font-size: 15px;
  line-height: 18px;
}

.header__mail {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: .15px;
  opacity: .54;

  margin-top: 11px;

  transition: .3s font-size;
}

.header__mail-badge {
  display: inline-block;
  width: 24px;
  height: 14px;

  background-size: 24px;
  background-position: center;
  /* transition: .3s transform; */
}

.header_s .header__mail-badge {
  display: none;
}

.header__mail.hidden .header__mail-badge {
  transform: rotate(180deg);
}

.header_s .header__mail {
  font-size: 13px;
  line-height: 15px;
  margin-top: 1px;
}

.header__manage {
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.1px;

  padding: 8px 16px;
  margin-top: 10px;
  max-height: 34px;
  overflow: hidden;
  border: 1px solid #DFE1E5;
  border-radius: 17px;

  transition-duration: .3s;
  transition-property: max-height, padding, margin, border;
}

.header__manage.hidden {
  display: none;
}

.header_s .header__manage {
  max-height: 0;
  padding: 0;
  margin: 0;
  border: 0;

  display: none;
}

.tablist {
  display: flex;
  padding: 0 8px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12);
}

.tab {
  display: inline-block;

  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: .02px;
  color: var(--secondary-2);
  cursor: pointer;

  padding: 15px 12px;
  border-bottom: 2px solid transparent;

  transition-duration: .3s;
  transition-property: border, color;
}

.tabpanels {
  display: flex;
}

.tabpanel {
  width: 100%;
  flex-shrink: 0;
  transform: translateX(-100%);

  transition: .3s transform;
}

.menu-items {
  padding-top: 12px;
}

.menu-item {
  position: relative;
  padding: 12px 16px 13px 64px;
}

.menu-item_simple {
  padding-top: 16px;
  padding-bottom: 17px;
}

.menu-item_simple .menu-item__icon {
  top: 14px;
}

.menu-item__icon {
  position: absolute;
  top: 22px;
  left: 16px;

  width: 24px;
  height: 24px;
}

.menu-item__title {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: .2px;
}

.menu-item__subtitle {
  font-size: 15px;
  line-height: 18px;
  letter-spacing: .2px;
  opacity: .54;

  margin-top: 3px;
}

.sub-menu {
  margin-top: 20px;
  padding-top: 23px;
  border-top: 1px solid rgba(225, 225, 225, .1);
}

.sub-menu__title {
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: .15px;

  margin-bottom: 18px;
  padding-left: 16px;
  padding-right: 16px;
}

.footer {
  margin-top: auto;
  padding-top: 18px;
  padding-bottom: 18px;
  border-top: 1px solid #DFE1E5;

  font-size: 12px;
  line-height: 14px;
  letter-spacing: .2px;
  color: var(--secondary);
  text-align: center;
}

.popup {
  position: fixed;
  z-index: 9999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: none;
  flex-direction: column;

  width: calc(100% - 30px);
  max-width: 400px;
  padding: 15px 30px;

  border: 1px solid #DFE1E5; 
  border-radius: 16px;
  background-color: var(--bg);
  box-shadow: 0 1px 3px rgba(0,0,0,.12);

  transition: .3s ease transform .5s;
}

.popup.open {
  display: flex;
}

.popup__btn {
  margin-left: auto;
  margin-top: 20px;

  padding: 8px 16px;
  border: 1px solid #dfe1e5;
  border-radius: 16px;
  
}
